.abc
{
    display: grid;
    justify-content: center;
    align-content: center;
}
.div1
{
    display: grid;
    border-style: solid;
    border-color: rgb(199, 61, 61);
    border-width: 5 px;
    align-items: center;
    justify-content: center;
    border-radius: 15px;
}
body
{
    background-color: rgb(125, 201, 26);
}